<% if entity.errors.any? %>
<div class="alert alert-error">
  <h4>Please fix the following errors:</h4>
  <br />
  <ul>
  <% entity.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
</div>
<% end %>